
.body{
  
  margin:0;
  

}
html {
  scroll-behavior: smooth;
}

@keyframes backgroundColorCycle{
    0%   {background: #2c3d36; }
    25%  {background: #fffef0;}
    40% {background: #fffef0;}
    50%  {background: #d4e4d2; }
    100% {background:#364745;}
  }
}


@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}


.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:200%;
  height:200%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.one{
  background-image: url('../images02/Asset 16.png');
  background-repeat:no-repeat;
  position: relative;
  background-size: 100%;
  width:250px;
  height:350px;
  z-index:100000000000;
   margin-top: 110px;
  margin-left:100px;
  float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}
@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    25% {-webkit-transform:translate(0, 10px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    25% {-moz-transform:translate(0, 10px);}
    to {-moz-transform: translate(0, -0px);}    
}


.two{
  background-image: url('../images02/Asset 21.png');
  background-repeat:no-repeat;
  position: relative;
  background-size: 100%;
  width:350px;
  height:450px;
  z-index:100000000000;
       margin-top: -110px;
    margin-left: -30px;
 float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
          
}
@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}


.three{
  background-image: url('../images02/Asset 23.png');
  background-repeat:no-repeat;
  position: relative;
  background-size: 100%;
  width:350px;
  height:450px;
  z-index:100000000000;
 margin-top: 90px;
    margin-left: -90px;
float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
 

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}

.ship{
  background-image: url('../images02/Asset 20.png');
  background-repeat:no-repeat;
  position: relative;
  background-size: 100%;
  width:550px;
  height:650px;
  z-index:100000000000;
margin-top: 300px;
    margin-left: 930px;
}

#mobile {
display: none;
}

@media (max-width: 670px) {
 .one{
 
  width:250px;
  height:350px;
 
}

.three{
  width:350px;
  height:450px;
  
}


  #mobile {
    display:block;
    color:black;
    position: relative;
    z-index: 1000;
  }
  .ship{
 
  width:250px;
  height:350px;
}

  #desktop,
  #tablet,
  #print {
    display:none;
  }
  
}


